/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v47/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}

.material-icons, .launcher-root {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  //font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}



.launcher-root {
    position: fixed;
    right: 2vw;
    width: 6vw;
    height: 6vw;
    top: 50%;

    font-size: 3vw;
    line-height: .58;
    text-align: center;

    color: white;
    background-color: #5fe45f;
    cursor: pointer;
    border-radius: 5vw;
    user-select: none;


}

.launcher-menu {
    position: fixed;
    top: 50%;
    right: 5vw;
}
.launcher-menu ul li{
  border-radius: 5vw;

  width: 6vw;
  height: 6vw;
}
.launcher-menu ul li #a{
  background-color: #a272f7;
}

.launcher-menu ul li.active {
  font-weight: bold;
}

.launcher-container {
    visibility: hidden
}
